/*
                                     /$$$$$$                 /$$                    
                                    |_  $$_/                | $$                    
                                      | $$   /$$$$$$$   /$$$$$$$  /$$$$$$  /$$   /$$
                                      | $$  | $$__  $$ /$$__  $$ /$$__  $$|  $$ /$$/
                                      | $$  | $$  \ $$| $$  | $$| $$$$$$$$ \  $$$$/ 
                                      | $$  | $$  | $$| $$  | $$| $$_____/  >$$  $$ 
                                     /$$$$$$| $$  | $$|  $$$$$$$|  $$$$$$$ /$$/\  $$
                                    |______/|__/  |__/ \_______/ \_______/|__/  \__/

  1. General - body 
  2. App main classes - App, logo, top
  3. App header and content
  4. Generic Buttons
  5. Sidebar - Sidebar-item / -link
  6. Navbar 
  7. Twitter
  8. Main map, map-Links, locations
  9. Comments
  10. Animations - @Key frames
  11. Media queries

*/
/* -------------------------------------------- General -----------------------------------------   */

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.min-height60{
  min-height: 60vh;
}
.min-height23{
  min-height: 23vh;
}
.min-height28{
  min-height: 28vh;
}
.with-navbar{
  margin-top: calc(12vh + 1px);
}
.top-12vh{
  top: calc(12vh + 1px);
}






/* ------------------------------------------------------------- App main classes --------------------------------------------------- */







#App-wrapper{
  background-color: #000000;
}

.App {
  background-color: #000000;
  text-align: center;
  align-items: center;
  align-content: center;
  align-self: center;
  display: contents;
}

.App-logo{
  
  position: relative;
  height: 12vh;
  align-items: center;
}

.App-top{
  z-index: 2;
  margin: auto;
  width: 80vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}






/* --------------------------------------------------------------------- App header and content ------------------------------------------------------------- */






.App-header{
  z-index: 2;
  max-width: 80vw;
  margin: auto;
  background-image: linear-gradient(to right, #000000, #9a8866, #000000 );
  background-color: #000000;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000000;
}

.App-content-wrapper{
  z-index: 2;
  padding: 0;
  position:  relative;
}

.App-content-bg{
  z-index: 1;
  padding: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  filter: opacity(50%);
}

.App-content{
  margin: auto;
  max-width: 80vw;
  background-image: linear-gradient(to right, #000000 , #9a8866 , #000000);
  background-color: #9a8866;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(6px + 2vmin);
  color: #000000;
}

.App-content2{
  margin: auto;
  max-width: 80vw;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(6px + 2vmin);
  color: #9a8866;
}

.App-extras{
  max-width: 80vw;
  background-color: #9a8866;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000000;
}






/* ---------------------------------------------------------------------- Generic Buttons -------------------------------------------------- */






.Generic-button{
  z-index: 2;
  margin: auto;
  color: #000000;
  font: Arial;
  font-weight: 700;
  font-size: 1vw;
  border: 2px black solid;
  border-radius: 2vh;
  box-shadow: grey 0 0 20px;
  background-color: #9a8866; 
}

.Generic-button:hover{
  z-index: 2;
  text-decoration: none;
  background: #000000;
  color: #9a8866;
  box-shadow: #9a8866 0 0 40px;
}

.Home-button{
  z-index: 2;
  width: 5vw;
}
/* Welcome page end*/






/* ----------------------------------------------------------------------- Sidebar and all in it ------------------------------ */






.Sidebar{
  text-align: left;
  padding: 10vh 0 10vh 0;
  background-color: #9a8866;
  z-index: 5;
  max-width: 20vw;
  margin: 10vh 0 auto 0;
  border: 2px #61dafb solid;
  display: table;
  position: absolute;
  top: 5vh;
  left: -20vw;
  border-radius: 1vw;
}
/* Animation Shorthand:   Animation: <Name> <duration> <timing function> <delay> <iterations> <direction> */



.Sidebar-item{
  flex: 1;
  flex-direction: column;
  display: flex;
  text-decoration: none;
  font: Arial;
  list-style-type: none;
  background-image:url(./resources/bullet.png);
  background-repeat: no-repeat;
  background-size: 1.5vw;
  background-position: 0.5vw 0;
  /* First param:<space between text and bullet>, Second param: <height> */
  font-size: 1.5vw;
  margin: 1vh 1vh 0 1vh;
  padding-left: 0; 
}
.Sidebar-item-link{
  text-decoration: none;
  color: #000000;
}
.Sidebar-item:hover {
  text-decoration: none;
  color: #000000;
}
.Sidebar-item-link:hover{
  text-decoration: none;
  color: #000000;
}
.Sidebar-item-span{
   margin-left: 3vw;
}
.Sidebar-inner-item{
  flex: 1;
  text-decoration: none;
  font: Arial;
  list-style-type: circle;
  font-size: 1vw;
  color: #000000;
  margin: 0.5vh 0 0.5vw 3vw;
  padding-left: 2vw;  /**space between text and bullet**/
}
.Sidebar-inner-item:hover{
  color: #000000;
  text-decoration: none;
  transform: scale(1.1);
}





/* --------------------------------------------------------------- Sidebar button -------------------------------------------------*/






.Sidebar-button{
  z-index: 5;
  font: Arial;
  font-weight: 700;
  font-size: 1vw;
  position: fixed;
  left: 1vw;
  top: 3vh;
  border: 2px black solid;
  border-radius: 2vh;
  width: 6vw;
  box-shadow: grey 0 0 20px;
  background-color: #9a8866; 
  transition: background-color 0.4s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
}

.Sidebar-button:hover{
  background: #000000;
  color: #9a8866;
  box-shadow: #9a8866 0 0 40px;
}


/* Sidebar animation start*/
@keyframes SidebarSlideIn {
  from{
    left: -20vw;
  }
  to{
    left: 0vw;
  }
}

@keyframes SidebarSlideOut {
  from{
    left: 0vw;
  }
  to{
    left: -20vw;
  }
}
/* Sidebar animation end*/




/* -------------------------------------------------------------------------------- Navbar ------------------------------------------------------------------------ */




.Navbar{
  position: fixed;
  top: 0;
  z-index: 4;
  border-bottom: 1px #9a8866 solid;
  text-decoration: none;
  align-items: center;
  width: 100%;
  height: 12vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #000000;
}

.Navbar-item{
  text-decoration: none;
  width: 6vw;
  border: 0px;
  border-radius: 1vh;
  margin: 2vh 5vh 2vh 5vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.3vw;
  color: #9a8866;
  background-color: 0; 
  transition: background-color 0.4s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
}

.Navbar-item:hover{
  text-decoration: none;
  background: #9a8866;
  color: #000000;
  box-shadow: #9a8866 0 0 40px;
}





/*  -------------------------------------------------------------------------- twitter -----------------------------------------------------------------------  */






.twitter-timeline{
  z-index: 5;
  position: absolute !important;
  right: 0 !important;
  top: calc(12vh + 1px);
  max-width: 20vw !important;
  height: 60vh !important;
  max-height: 60vh !important;
  min-height: 23vh !important;
}





/* -------------------------------------------------- Main map, map-Links, locations ---------------------------------------------------------------------- */





#main_map{
  margin: 0;
  padding: 0;
  height: 758px;
  width: 912px;
}

#locations{
  position: relative;
  background-image: url(./resources/locations/MainMap.png);
  padding: 0;
  margin: auto;
  height: 758px;
  width: 912px;
}

.map-Link-Interchange{
  padding: 0;
  margin: 0;
  width: 10em;
  position: absolute;
  left: 64.5% ;
  top: 25.5% ;
  text-decoration: none;
}

.map-Link-Customs{
  padding: 0;
  margin: 0;
  width: 8em;
  position: absolute;
  left: 58% ;
  top: 33.5% ;
  text-decoration: none;
}

.map-Link-Woods{
  padding: 0;
  margin: 0;
  width: 8em;
  position: absolute;
  left: 35% ;
  top: 31% ;
  text-decoration: none;
}

.map-Link-Factory{
  padding: 0;
  margin: 0;
  width: 8em;
  position: absolute;
  left: 42% ;
  top: 44.5% ;
  text-decoration: none;
}

.map-Link-Shoreline{
  padding: 0;
  margin: 0;
  width: 10em;
  position: absolute;
  left: 33% ;
  top: 81% ;
  text-decoration: none;
}

.map-Link-Lab{
  padding: 0;
  margin: 0;
  width: 8em;
  position: absolute;
  left: 40% ;
  top: 11.5% ;
  text-decoration: none;
}





/* ---------------------------------------------------------------------- Comments -------------------------------------------------------------------------------- */





.App-comments{
  padding: auto;
  
  display: flex;
  flex-direction: column;
}

.comment{
  width: 80%;
  align-self: center;
  padding: 4vh 2vw 4vh 2vw;
  background-color: #999999;
  border: #9a8866 solid 1vh;
  border-radius: 1vw;
  margin: 1vh 0 1vh 0;
  display: flex;
  flex-direction: row;
}

.comment-avatar{ 
  margin: auto 2vw auto 0;
  border-radius: 50%;
max-width: 5vw;
max-height: 5vw;
}

.comment-text{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.comment-author{
  color: #000000;
   font-family: fantasy;
  }

.comment-content{
  color: #000000;
}

.comment-date{
  color: #1e00a3;
  margin-top: 3vh; 
}





/* ---------------------------------------------------------- Animations ---------------------------------------------- */





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




/* ------------------------------------------------------------------- Media queries -----------------------------------------------------------  */

@media only screen and (max-width: 620px) {
  .Sidebar{
    display: none;
  }
}






/* ----------------------------------- NOTES ------------------------- */
/* 
BSG original colors: #9a8866 gold-ish
BSG bg color: #000000 true black
*/
